PORT=your_port
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_cloud_api_key
CLOUD_SECRET_KEY=your_cloud_secret_key
STRIPE_SECRET_KEY=your_stripe_secret_key
FRONTEND_URL=your_frontend_url
RESTAURANT_SERVICE=your_restaurant_service_url
INTERNAL_SERVICE_KEY=your_internal_service_key
RABBITMQ_URL=your_rabbitmq_url
PAYMENT_QUEUE=your_payment_queue
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
