PORT=your_port
MONGO_URI=your_mongo_db_url
JWT_SEC=your_jwt_secret
UTILS_SERVICE=your_utils_service_url
REALTIME_SERVICE=your_realtime_service_url
RESTAURANT_SERVICE=your_restaurant_service_url
INTERNAL_SERVICE_KEY=your_internal_service_key
RABBITMQ_URL=your_rabbitmq_url
RIDER_QUEUE=your_rider_queue
ORDER_READY_QUEUE=your_order_ready_queue
